@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #1b1b1bff;
  --secondary: #0f172a;
  --light-1: #eaeaeaff;
  --gray: #737373ff;
  --accent-1: #ff6b6bff;
  --gold: #e6c300ff;
  --red: #ff0000ff;
  --green: #007f00ff;
  --dark: #101014ff;
  --dark-green: #064D3B;
  --dark-blue: #0E1B2B;
  --light-green: #059669;
  --dark-grey: #213443;
  --light-grey: #45556c;
}

body {
  background-color: var(--secondary) !important;
  background: linear-gradient(160deg, rgba(14, 27, 43, 1) 20%, rgb(4, 51, 39) 50%, rgba(14, 27, 43, 1) 80%) !important;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0 auto;
  text-align: center;
}