.page {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.whole {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: 500px;
  background: #072b28e1;
  border-color: hsl(161, 94%, 30%);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  color: white;

}

.title {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.infoBox {
  background: #167e7513;
  border: 1px solid #059668aa;
  border-radius: 10px;
  padding: 14px 16px;
  margin-bottom: 24px;
}

.infoItem {
  margin: 6px 0;
  font-size: 16px;
}

.infoLabel {
  font-weight: 500;
}

.subtitle {
  margin: 0 0 14px 0;
  font-size: 22px;
  color: white;
  font-weight: 500;
}

.empty {
  color: #666;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.playerItem {
  padding: 12px 14px;
  border: 1px solid #059668aa;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #167e7513;
}

.waitingText {
  margin-top: 16px;
  color: #5ee9b5;
}

.error {
  margin-top: 16px;
  color: #d93025;
  font-size: 15px;
}

@media (max-width: 600px) {
  .card {
    max-width: 300px;
    margin: 10px;
  }
}